<% provide(:title, accessed_page_name) %>

<section class="container">

    <div class="row">
        <div class="jumbotron">
            <h1><%= accessed_page_name %></h1>
            <p>
                This page demonstrates the features of AccessProfile process.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="<%= learn_more_path %>" role="button">Learn more</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h2 class="panel-title">UserProfiles</h2>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table id="users-table" class="table table-striped table-hover">
                        <thead>
                        <th>Username</th>
                        <th>Proper Name</th>
                        </thead>
                        <tbody class="">
                        <% @page_controls.page_users.each do |u| %>
                            <tr data-key="<%= u.username %>">
                                <td><%= u.username %></td>
                                <td><%= u.display_name %></td>
                            </tr>
                        <% end  %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        <h2 class="panel-title">AccessProfiles</h2>
                    </div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table id="access-table" class="table table-striped table-hover">
                            <thead>
                            <th>Assigned From</th>
                            <th>Role Pattern</th>
                            <th>Description</th>
                            </thead>
                            <tbody class="">
                            <% @page_controls.access_profile.each do |r| %>
                                <tr data-key="<%= r.name %>">
                                    <td><%= r.type %></td>
                                    <td><%= r.name %></td>
                                    <td><%= r.description %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Accessible Content</h2>
                    </div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table id="accessible-table" class="table table-striped table-hover">
                            <thead>
                            <th>Source</th>
                            <th>Filename</th>
                            <th>Created</th>
                            </thead>
                            <tbody class="">
                            <tr>
                                <td>datafiles</td>
                                <td>someFile.dat</td>
                                <td>12/29/2015</td>
                            </tr>
                            <tr>
                                <td>images</td>
                                <td>somePic.png</td>
                                <td>12/29/2015</td>
                            </tr>
                            <tr>
                                <td>pdfs</td>
                                <td>someFile.pdf</td>
                                <td>12/29/2015</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>