<% provide(:title, accessed_page_name) %>

<section  class="container">

    <div class="jumbotron">
        <h1><%= accessed_page_name %></h1>
        <p>
            This page demonstrates the features of ContentProfile process.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="<%= learn_more_path %>" role="button">Learn more</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>ContentProfile</h2>
            <p>
                Determines if a specific user can access or interact with a specific object by
                type or name of object.
            </p>
            <p><a class="btn btn-default" href="<%= details_content_path()  %>" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>AccessProfile</h2>
            <p>
                Renders per-assigned access roles to each Authenticated User. Roles which were mapped, by
                an administrator, to compile time application resources.  AccessProfile methods enforce access privileges
                to navigation, click-ables, and all viewable elements. Unauthorized attempts to access
                restricted pages, result in a redirect to the home page with an appropriate message.
            </p>
            <p><a class="btn btn-default" href="<%= details_access_path()  %>" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Authentication</h2>
            <p>
                Every incoming request will have the authentication features of
                this site applied.  Incorrect credentials redirects to login page.  No authorization
                returns you to home page. Users are assigned username, password, remember_me token,
                and a unique person_authentication_token(PAK).
            </p>
            <p><a class="btn btn-default" href="<%= details_auth_path()  %>" role="button">View details &raquo;</a></p>
        </div>
    </div>

</section>