<% provide(:title, accessed_page_name) %>

<article>
    <div class="jumbotron">
        <h1><%= accessed_page_name %></h1>
        <p>
            According to a person's membership in an organization we offer electronic delivery service, that
            person may have access to specific sets of informational assets, operational constraints and
            notifications. This page demonstrates the features of an ContentProfile process contributing to
            a positive outcome.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="<%= learn_more_pages_path %>" role="button">Learn more</a>
        </p>
    </div>

    <section>
        <div class="col-md-3">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h2 id="users-title" class="panel-title">UserProfiles</h2>
                </div>
                <!-- Table -->
                <table id="users-table" class="table table-hover table-striped display responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                    <th>Username</th>
                    <th>Proper Name</th>
                    </thead>
                    <tbody class="" data-full_package="<%= @page_controls.to_hash().to_json %>">
                    <% @page_controls.page_users.each do |u| %>
                        <tr data-package="<%= u.to_hash.to_json %>">
                            <td><%= u.username %></td>
                            <td><%= u.display_name %></td>
                        </tr>
                    <% end  %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        <h2 id="content-title" class="panel-title">ContentProfile Entries: <span class="label-info">select a user profile</span></h2>
                    </div>
                    <!-- Table -->
                    <table id="content-table" class="table table-hover table-striped profile display responsive no-wrap" cellspacing="0" width="100%">
                        <thead>
                            <th>Entry Description</th>
                            <th>Content</th>
                            <th>Content Description</th>
                            <th>Topic</th>
                            <th>Topic Value</th>
                            <th>Content Value</th>
                        </thead>
                        <tbody class="">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 id="accessible-title" class="panel-title">Accessible Content: <span class="label-info">select a ContentProfile Entry from above.</span></h2>
                    </div>
                    <!-- Table -->
                    <table id="accessible-table" class="table table-hover table-striped display responsive no-wrap" cellspacing="0" width="100%">
                        <thead>
                            <th>Filename</th>
                            <th>Source</th>
                            <th>Created</th>
                            <th>Size</th>
                        </thead>
                        <tbody class="" data-accessible-url="<%= @page_controls.page_users.first.package.accessible_content_url %>">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</article>
