<% provide(:title, accessed_page_name) %>

<section  class="container">
  <article>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1><%= accessed_page_name %></h1>
                <p>
                    This page demonstrates the features of ContentProfile process.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="<%= details_model_pages_path %>" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h2 class="panel-title">UserProfiles</h2>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table id="users-table" class="table table-striped table-hover">
                        <thead>
                        <th>Username</th>
                        <th>Proper Name</th>
                        </thead>
                        <tbody class="">
                        <% @page_controls.page_users.each do |u| %>
                            <tr data-package="<%= u.to_hash.to_json %>">
                                <td><%= u.username %></td>
                                <td><%= u.display_name %></td>
                            </tr>
                        <% end  %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info ">
                    <div class="panel-heading">
                        <h2 class="panel-title">ContentProfile Entries: <span class="label-info">select a user profile</span></h2>
                    </div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table id="content-table" class="table table-striped table-hover profile">
                            <thead>
                                <th>Entry Description</th>
                                <th>Content</th>
                                <th>Content Description</th>
                                <th>Topic</th>
                                <th>Topic Value</th>
                                <th>Content Value</th>
                            </thead>
                            <tbody class="">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Accessible Content: <span class="label-info">select a ContentProfile Entry from above.</span></h2>
                    </div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table id="accessible-table" class="table table-striped table-hover">
                            <thead>
                                <th>Source</th>
                                <th>Filename</th>
                                <th>Created</th>
                                <th>Size</th>
                            </thead>
                            <tbody class="" data-accessible-url="<%= @page_controls.page_users.first.package.accessible_content_url %>">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </article>
  <%= link_to :back, class: "pull-right" do %>
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
      Back
  <% end %>
</section>
