<% provide(:title, accessed_page_name) %>

<header class="page-header">
    <h1 class="text-center"><%= accessed_page_name %></h1>
</header>
<div class="container">
    <%= do_page_actions %>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" data-dttable="#mc-users-table">Users</a></li>
        <li><a data-toggle="tab" href="#menu2" data-dttable="#mc-entries-table">Entries</a></li>
    </ul>

    <div class="tab-content" data-user-package="<%= @page_controls.package.user_package.map(&:to_hash).to_json %>">
        <div id="home" class="tab-pane fade in active">
            <h3>ContentProfile</h3>
            <p>Content profiles are the basis of this authorization strategy.  Select a
                user's ContentProfile from the list below, then click on the Entries tab to review their current content access permissions.</p>
            <div class="table-responsive">
                <table id="mc-users-table" class="table table-hover table-striped table-bordered display" cellspacing="0" width="100%">
                    <thead>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Profile Role</th>
                    <th>Provider</th>
                    <th>Actions</th>
                    </thead>
                    <tbody class="" data-package="<%= @page_controls.to_hash().to_json %>">
                    <% @page_controls.package.user_package.each do |u| %>
                        <tr data-package="<%= u.to_hash.to_json %>">
                            <td><%= u.username %></td>
                            <td><%= u.display_name %></td>
                            <td><%= u.email %></td>
                            <td><%= u.try(:profile_type_description) %></td>
                            <td><%= u.try(:provider) %></td>
                            <td class="text-center">
                              <% if u.profile_exist %>
                                  <i class="fa fa-pencil-square-o fa-lg" title="Edit Profile" aria-hidden="true"></i>
                              <% else %>
                                  <i class="fa fa-plus-square-o fa-lg" title="Create Profile" aria-hidden="true"></i>
                              <% end %>
                            </td>
                        </tr>
                    <% end  %>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>ContentProfileEntries</h3>
            <p>Content profile entries make the association between the type of protected resources, or content, and
                the entities those resources are related to, or Topic.  Both content and topic are meant to be specific.</p>
            <p>It is considered <em>Best Practice</em> to choose one topic identifies and one content type identifier per entry.  While
              multiple identifiers can be chosen, it will make adding or removing one in the future frustrating.  By only including one
              identifier per entry, you can easily delete, or add new entries as needed.</p>
            <p>A user may have as many content profile entries as necessary to meet their needs.</p>
            <div class="table-responsive">
                <table id="mc-entries-table" class="table table-hover table-striped table-bordered display" cellspacing="0" width="100%">
                    <thead>
                        <th>Entry Description</th>
                        <th>Content</th>
                        <th>Content Description</th>
                        <th>Topic</th>
                        <th>Topic Description</th>
                        <th>Topic Value</th>
                        <th>Content Value</th>
                    </thead>
                    <tbody class="">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <p class="text-center">Under Construction</p>
    <p class="text-center"><%= @page_controls.package.message %></p>
</div>
