<% provide(:title, accessed_page_name) %>

<header class="page-header">
    <h1 class="text-center"><%= accessed_page_name %></h1>
</header>
<div class="container">
    <%= do_page_actions %>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" data-dttable="#mc-users-table">Users</a></li>
        <li><a data-toggle="tab" href="#menu1" data-dttable="no">Profile</a></li>
        <li><a data-toggle="tab" href="#menu2" data-dttable="#mc-entries-table">Entries</a></li>
        <li><a data-toggle="tab" href="#menu3" data-dttable="#mc-topic-table">Topics</a></li>
        <li><a data-toggle="tab" href="#menu4" data-dttable="#mc-content-table">Contents</a></li>
    </ul>

    <div class="tab-content" data-user-package="<%= @page_controls.package.user_package.map(&:to_hash).to_json %>">
        <div id="home" class="tab-pane fade in active">
            <h3>UserProfiles</h3>
            <p>User profiles are the basis of this content management strategy.  Select the
                user this ContentProfile will be used for, then follow the Tabs left to right
                to compose a workable ContentProfile for this user.</p>
            <div class="table-responsive">
                <table id="mc-users-table" class="table table-hover table-striped table-bordered display" cellspacing="0" width="100%">
                    <thead>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Person Authentication Key</th>
                    <th>Exiting Profile</th>
                    </thead>
                    <tbody class="" data-package="<%= @page_controls.to_hash().to_json %>">
                    <% @page_controls.package.user_package.each do |u| %>
                        <tr data-package="<%= u.to_hash.to_json %>">
                            <td><%= u.username %></td>
                            <td><%= u.display_name %></td>
                            <td><%= u.email %></td>
                            <td><%= u.pak %></td>
                            <td class="text-center"><%= u.profile_exist ? 'Yes': 'No' %></td>
                        </tr>
                    <% end  %>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>ContentProfiles</h3>
            <p>On this page we select, or create, the top level content profile for the selected user.  They can only have one content profile.</p>

            <div class="well col-md-push-3 col-md-6">
                <div class="media">
                    <div class="media-left">
                        <%= link_to content_profiles_path do %>
                            <span class="media-object">
                                <span style="font-size:4.5em;" class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            </span>
                        <% end %>
                    </div>
                    <div id="cp-cp" class="media-body">
                        <h4 class="media-heading">Username: <span id="username"></span></h4>
                        <p>Display Name: <span id="display_name"></span></p>
                        <p>Profile Type: <span id="assigned_group"></span></p>
                        <p>EMail: <span id="email"></span></p>
                        <p>Authentication Provider: <span id="authentication_provider"></span></p>
                        <p>Person Authentication Key: <span id="pak"></span></p>
                        <p>Entries: <span class="badge"><span id="profile_entries"></span></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>ContentProfileEntries</h3>
            <p>Content profile entries make the association between the type of protected resources, or content, and
                the entities those resources are related to, or Topic.  Both content and topic are meant to be specific.
                So you might find it prudent to move onto the Topics or Contents first, to ensure those specific records exist
                before creating a entry here.</p>
            <p>A user may have as many content profile entries as necessary to meet their needs.</p>
            <div class="table-responsive">
                <table id="mc-entries-table" class="table table-hover table-striped table-bordered display" cellspacing="0" width="100%">
                    <thead>
                        <th>Entry Description</th>
                        <th>Content</th>
                        <th>Content Description</th>
                        <th>Topic</th>
                        <th>Topic Description</th>
                        <th>Topic Value</th>
                        <th>Content Value</th>
                    </thead>
                    <tbody class="">
                    </tbody>
                </table>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Topics</h3>
            <p>Topics identify business entities that are the source of content, or content is directly related to this entity.
            Typically, we are talking about Accounts, Policies, Agencies, etc.  However, the overall authorization system is
            capable of applying operational constraints like listing the States an branch or producer is authorized to quote product.</p>
            <p>The options available to Topics will provide the unique identifier needed to meet the needs of this Topic
                specification; i.e. be specific and identify by account number, or branch number, or policy number, etc.</p>
            <div>
                <table id="mc-topic-table" class="table table-hover table-striped table-bordered display" cellspacing="0" width="100%">
                    <thead>
                    <th>Name</th>
                    <th>Description</th>
                    </thead>
                    <tbody class="">
                    <%#
                        They are located in @page_controls.package.user_package[?].profile_entries.topic_selects
                    %>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="menu4" class="tab-pane fade">
            <h3>Contents</h3>
            <p>Contents should very specifically describe the document being allowed, or protected, using it's document type identifier.  An example
                would include the content label of 'commission' and a Document store document id of 66501.</p>
            <div>
                <table id="mc-content-table" class="table table-hover table-striped table-bordered display" cellspacing="0" width="100%">
                    <thead>
                    <th>Name</th>
                    <th>Description</th>
                    </thead>
                    <tbody class="">
                    <%#
                        They are located in @page_controls.package.user_package[?].profile_entries.content_selects
                    %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <p class="text-center">Under Construction</p>
    <p class="text-center"><%= @page_controls.package.message %></p>
</div>
