<% provide(:title, accessed_page_name) %>

<article>
  <div class="jumbotron earth-valley">
    <h1 class="big-chalk"><%= accessed_page_name %></h1>
    <p>
      This is a potential admin page used to grant access to certain secure documentation resources, to each user individually.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="<%= details_content_pages_path %>" role="button">More about ContentProfile</a>
    </p>
  </div>

  <section>
    <div class="table-responsive">
      <table id="members-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <caption><h2>Members</h2></caption>
        <thead class="bg-primary text-center">
          <tr class="bg-primary">
            <th class="bg-default"><span class="pull-right"><em>TopicType</em> <i class="fa fa-forward" aria-hidden="true"></i></span></th>
            <th colspan="4" class="text-center">Branch</th>
            <th class="text-center">Partner</th>
            <th class="text-center">UserGroups</th>
          </tr>
          <tr class="bg-primary">
            <th class="bg-default"><span class="pull-right"><em>ContentType</em> <i class="fa fa-forward" aria-hidden="true"></i></span></th>
            <th class="text-center">Commission</th>
            <th class="text-center">Experience</th>
            <th class="text-center">Notification</th>
            <th class="text-center">LicensedStates</th>
            <th class="text-center">Activity</th>
            <th class="text-center">FileDownloads</th>
          </tr>
        </thead>
        <tbody>
        <% @page_controls.payload.each do |profile| -%>
            <tr class="admin" data-package="<%= profile.package.to_json %>">
              <td style="vertical-align: middle;"><%= profile.package.display_name %></td>
              <%= choose_column_icons(
                      profile.commission,
                      profile.experience,
                      profile.notification,
                      profile.licensedstates,
                      profile.activity,
                      profile.filedownloads
                      ) %>
            </tr>
        <% end -%>
        </tbody>
      </table>
    </div>
  </section>

</article>

