<% provide(:title, 'Reset Password') %>

<%= simple_form_for(@user, :url => password_reset_path(@user), :html => { :class => 'form form-horizontal' }) do |f| %>

      <h3>Enter new password</h3>

	  	<%= f.input :password, autofocus: true %>
	  	<%= f.input :password_confirmation, label: 'Confirmation' %>

    <div class="col-sm-offset-3">
        <%= f.button :submit, "Update Password", class: 'btn-primary' %>
        <%= link_to "Cancel", root_path(), class: 'btn' %>
    </div>
<% end %>
