<% provide(:title, 'Assign Password') %>


<article>
  <header class="page-header">
    <h1 class="text-center"><%= accessed_page_name %></h1>
  </header>

  <section>
    <% user = @page_controls.user %>

    <%= simple_form_for(user, :url => password_reset_path(user), :html => { :class => 'form form-horizontal' }) do |f| %>

          <%= f.input :password, autofocus: true %>
          <%= f.input :password_confirmation, label: 'Confirmation' %>

        <div class="form-actions">
            <div class="col-md-push-3 col-md-9">
                <%= f.button :submit, "Change Password", class: 'btn btn-primary submit' %>
                <%= link_to "Cancel", root_path(), class: 'btn' %>
            </div>
        </div>
    <% end %>

  </section>

</article>