<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @content_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content_type.description %>
</p>

<p>
  <strong>Value data type:</strong>
  <%= @content_type.value_data_type %>
</p>

<%= link_to 'Edit', edit_content_type_path(@content_type) %> |
<%= link_to 'Back', content_types_path %>
