<%= simple_form_for(@user_group_role, :html => { :class => 'form form-horizontal', :authenticity_token => true }) do |f| %>
  <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :group_type %>
    <div class="col-mb-push-3">
        <%= f.button :submit, class: 'btn-block submit' %>
    </div>
<% end %>
