
<div class="well <%= action_name.eql?('show') ? 'col-md-push-3 col-md-6' : 'col-md-6' %>">
    <div class="media">
        <%= link_to user_group_role do %>
            <span class="media-object pull-left" style="padding-right: 12px;">
                <span style="font-size:4.5em;" class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </span>
        <% end %>

        <div class="media-body">
            <h4 class="media-heading">Name: <%= user_group_role.name %></h4>
            <p>Description: <%= user_group_role.description %></p>
            <p>Group:  <%= user_group_role.group_type %></p>
            <p>
                <% if current_user_has_read?('user_group_roles/show') and action_name.eql?('index') %>
                    <%= link_to 'Show', user_group_role, class: "btn btn-default" %> |
                <% end %>
                <% if current_user_has_update?('user_group_roles/edit') %>
                    <%= link_to 'Edit', edit_user_group_role_path(user_group_role), class: "btn btn-default" %> |
                <% end %>
                <% if current_user_has_delete?('user_group_roles/destroy') and action_name.eql?('show') %>
                    <%= link_to 'Destroy', user_group_role, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %> |
                <% end %>
                <% if current_user_has_read?('user_group_roles/show') %>
                    <%= link_to :back, user_group_roles_path, class: "btn btn-default" %>
                <% end %>
            </p>
        </div>
    </div>
</div>
