<% provide(:title, accessed_page_name) %>

<section class="container">
    <h1><%= accessed_page_name %></h1>

        <%= will_paginate class: "pagination col-xs-3 col-md-offset-9 pull-right" %>
        <%= render @user_group_roles %>
        <%= will_paginate class: "pagination col-xs-3 col-md-offset-9 pull-right" %>

    <br />
    <%= link_to 'New User group role', new_user_group_role_path %>
</section>