<p id="notice"><%= notice %></p>

<h1>Listing User Group Roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Group type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_group_roles.each do |user_group_role| %>
      <tr>
        <td><%= user_group_role.name %></td>
        <td><%= user_group_role.description %></td>
        <td><%= user_group_role.group_type %></td>
        <td><%= link_to 'Show', user_group_role %></td>
        <td><%= link_to 'Edit', edit_user_group_role_path(user_group_role) %></td>
        <td><%= link_to 'Destroy', user_group_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User group role', new_user_group_role_path %>
