<p id="notice"><%= notice %></p>

<p>
  <strong>Topic value:</strong>
  <%= @content_profile_entry.topic_value %>
</p>

<p>
  <strong>Content value:</strong>
  <%= @content_profile_entry.content_value %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @content_profile_entry.content_type %>
</p>

<p>
  <strong>Topic type:</strong>
  <%= @content_profile_entry.topic_type %>
</p>

<p>
  <strong>Content profile:</strong>
  <%= @content_profile_entry.content_profile %>
</p>

<%= link_to 'Edit', edit_content_profile_entry_path(@content_profile_entry) %> |
<%= link_to 'Back', content_profile_entries_path %>
