<p id="notice"><%= notice %></p>

<h1>Listing Topic Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Value based y n</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topic_types.each do |topic_type| %>
      <tr>
        <td><%= topic_type.name %></td>
        <td><%= topic_type.description %></td>
        <td><%= topic_type.value_based_y_n %></td>
        <td><%= link_to 'Show', topic_type %></td>
        <td><%= link_to 'Edit', edit_topic_type_path(topic_type) %></td>
        <td><%= link_to 'Destroy', topic_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic type', new_topic_type_path %>
