
<div class="col-xs-6 col-sm-3 placeholder">
    <%= link_to user_path(user) do %>
        <%= gravatar_for(user, size: 96, class: "img-responsive", alt: user.username) %>
    <% end %>
    <h4 class="text-center">Username: &nbsp;<%= user.username %></h4>
    <ul class="list-unstyled text-center">
        <li><%= user.email %></li>
        <li>State: <%= user.active ? "Active" : "inActive" %></li>
        <li>Last password reset:&nbsp; <%= user.password_reset_date? ? user.password_reset_date.to_formatted_s(:long_ordinal) : "Never" %></li>
    </ul>
    <ul class="nav nav-pills placeholder">
        <li><%= link_to edit_user_path(user) do %>
                <span class="badge">Edit</span>
            <% end %>
        </li>
        <li><%= link_to user_path(user), method: :delete, data: {confirm: "Deleting cannot be undone! Delete anyway?"}  do %>
                <span class="badge">Delete</span>
            <% end %>
        </li>
        <li><%= link_to users_path()  do %>
                <span class="badge">Back</span>
            <% end %>
        </li>
    </ul>
</div>
