<% provide(:title, 'Edit User') %>

<section class="row">
    <div class="controls-group">
        <div class="controls">
            <%= gravatar_for(@user, size: 96, class: "img-responsive", alt: user.username) %>
            <a href ="http://gravatar.com/emails" class="text-muted">Change Picture</a>
        </div>
    </div>
</section>
<%= simple_form_for(@user, :html => { :class => 'form-vertical', :authenticity_token => true }) do |f| %>

    <%= render 'fields', f:  f %>

    <div class="button-group">
        <div class="controls pull-right">
            <%= f.button :submit, "Update", class: 'btn btn-primary' %>
            <%= link_to "Cancel", user_path(@user), class: 'btn' %>
        </div>
    </div>
<% end %>

