<% provide(:title, accessed_page_name) %>


    <div class="container">
        <h1 class="text-center"><%= accessed_page_name %></h1>

        <div class="form-control-static">
            <%= gravatar_for(@user, size: 96, class: "img-responsive", alt: user.username) %>
        </div>
        <div class="form-control-static text-center">
            <a href ="http://gravatar.com/emails">Change Picture</a>
        </div>
    </div>

    <%= simple_form_for(@user, :html => { :class => 'form form-horizontal' }) do |f| %>

        <%= render 'fields', f:  f %>

        <div class="col-sm-offset-3">
            <%= f.button :submit, class: 'btn btn-primary submit' %>
            <%= link_to "Cancel", user_path(@user), class: 'btn' %>
        </div>
    <% end %>

