<% provide(:title, accessed_page_name) %>

<header class="page-header">
    <h1 class="text-center"><%= accessed_page_name %></h1>
</header>

<div class="container">
    <%= will_paginate class: "pagination col-md-3 col-md-push-9 pull-right" %>
    <div class="row">
        <%= render @users %>
    </div>
    <%= will_paginate class: "pagination col-md-3 col-md-push-9 pull-right" %>

    <% if current_user_has_create?('users/new') %>
        <%= link_to 'New UserProfile', new_user_path %>
    <% end %>
</div>