<% provide(:title, accessed_page_name) %>

<article>
  <header class="page-header">
    <h1 class="text-center"><%= accessed_page_name %></h1>
  </header>
  <section>
    <%= do_page_actions %>
  </section>
  <section>
    <%= will_paginate @page_controls.users, class: "pagination col-md-offset-4 col-md-8" %>
    <section>
      <%= render @page_controls.users %>
    </section>
    <%= will_paginate @page_controls.users, class: "pagination col-md-offset-4 col-md-8" %>
  </section>

</article>