<% provide(:title, accessed_page_name) %>

<section class="container">
    <h1 class="text-center"><%= accessed_page_name %></h1>

    <%= simple_form_for(@user, :html => { :class => 'form form-horizontal', :authenticity_token => true }) do |f| %>
    <%= f.error_notification %>
    <%= render 'fields', f:  f %>

    <div class="form-actions">
        <div class="col-mb-push-2 col-mb-10">
            <%= f.button :submit, class: 'btn btn-primary' %>
            <%= link_to "Cancel", users_path(), class: 'btn' %>
        </div>
    </div>
<% end %>
</section>
