<div class="<%= action_name.eql?('show') ? 'col-md-push-3 col-md-6' : 'col-md-6' %>">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title pull-right"><%= content_profile.username %></h4>
      <i class="fa fa-key fa-3x" aria-hidden="true"></i>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Username</dt><dd><%= content_profile.username %></dd>
        <dt>Display Name</dt><dd><%= content_profile.display_name %></dd>
        <dt>Profile Type</dt><dd><%= content_profile.try(:profile_type).try(:name) %></dd>
        <dt>EMail</dt><dd><%= content_profile.email %></dd>
        <dt>Authentication Provider</dt><dd><%= content_profile.authentication_provider %></dd>
        <dt>Person Authentication Key</dt><dd><%= content_profile.person_authentication_key[-8..-1] %>...</dd>
        <dt>Entries</dt><dd><span class="badge"><%= content_profile.content_profile_entries.size %></span></dd>
      </dl>

      <p class="pull-right">
        <% if current_user_has_read?('content_profiles/show') and action_name.eql?('index') %>
            <%= link_to 'Show', content_profile, class: "btn btn-default btn-primary" %> |
        <% end %>
        <% if current_user_has_update?('content_profiles/edit')  %>
            <%= link_to 'Edit', edit_content_profile_path(content_profile), class: "btn btn-default" %> |
        <% end %>
        <% if current_user_has_delete?('content_profiles/destroy') and action_name.eql?('show') %>
            <%= link_to 'Destroy', content_profile, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %> |
        <% end %>
        <%= link_to :back, content_profiles_path, class: (action_name.eql?('index') ? 'btn' : 'btn btn-default btn-primary') %>
      </p>
    </div>
  </div>
</div>
