<section>
    <%= simple_form_for(@page_controls.content_profile, :html => { :class => 'form form-horizontal', :authenticity_token => true }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <% unless accessed_page.include?("edit") %>
            <%= f.input :person_authentication_key do %>
                  <%= f.select :person_authentication_key, @page_controls.pak_user_choices, { include_blank: true}, {class: "select form-control"} %>
            <% end %>
        <% end %>
        <%= f.association :profile_type %>
        <%= f.input :authentication_provider, readonly: true %>
        <%= f.input :username, readonly: true %>
        <%= f.input :display_name, readonly: true %>
        <%= f.input :email, readonly: true %>
      </div>

      <div class="form-actions">
        <div class="col-md-push-3 col-md-9">
            <%= f.button :submit, class: 'btn btn-primary submit' %>
            <%= link_to "Cancel", !action_name.eql?('new') ? content_profile_path(@page_controls.content_profile) : content_profiles_path, class: 'btn' %>
        </div>
      </div>
    <% end %>
</section>
