<% provide(:title, accessed_page_name) %>

<section class="container">
    <h1><%= accessed_page_name %></h1>

    <%= will_paginate class: "pagination col-xs-3 col-md-offset-9 pull-right" %>
    <section class="container">
        <%= render @content_profiles %>
    </section>
    <%= will_paginate class: "pagination col-xs-3 col-md-offset-9 pull-right" %>

    <br />
    <% if current_user_has_create?('content_profiles/new') %>
        <%= link_to 'New Content profile', new_content_profile_path %>
    <% end %>
</section>
