<p id="notice"><%= notice %></p>

<p>
  <strong>Person authentication key:</strong>
  <%= @content_profile.person_authentication_key %>
</p>

<p>
  <strong>Profile type:</strong>
  <%= @content_profile.profile_type %>
</p>

<p>
  <strong>Authentication provider:</strong>
  <%= @content_profile.authentication_provider %>
</p>

<p>
  <strong>Username:</strong>
  <%= @content_profile.username %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @content_profile.display_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @content_profile.email %>
</p>

<%= link_to 'Edit', edit_content_profile_path(@content_profile) %> |
<%= link_to 'Back', content_profiles_path %>
