<% provide(:title, accessed_page_name) %>

<article id="page">

    <div class="jumbotron galaxy-squared">
        <h1 class="big-chalk"><%= accessed_page_name %></h1>
        <p>
            This page show the current application status, and details of its internal structure.
        </p>
        <p>Content and Access profiles for the current user are also displayed below.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="<%= details_architecture_pages_path %>" role="button">Learn more</a>
        </p>
    </div>


    <% if authenticated? %>
        <h3 class="text-center">Welcome <%= current_user.name %><br/><small>AuthService home#details_sysinfo</small></h3>
    <% else %>
        <h3 class="text-center">Welcome<br/><small>AuthService home#details_sysinfo</small></h3>
    <% end %>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingZero">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                        Platform Configuration Values
                    </a>
                </h4>
            </div>
            <div id="collapseZero" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingZero">
                <div class="panel-body">
                    <p>Router Direct Page Accessed => <%= accessed_page() %></p>
                    <p>AccessRegistry Access Page Name => <%= accessed_page_name() %></p>
                    <p>Controller name => <%= controller_name %></p>
                    <p>Controller Action => <%= action_name %></p>
                    <p>Controller Path => <%= controller_path() %></p>
                    <p>Request fullpath => <%= request.fullpath() %></p>
                    <p>Request original fullpath => <%= request.original_fullpath() %></p>
                    <p>Rails Environment => <%= Rails.env.to_s %></p>
                    <%# {"encoding"=>"unicode", "username"=>"postgres", "adapter"=>"postgresql", "port"=>5432, "host"=>"localhost", "password"=>"postgres", "database"=>"somename", "pool"=>5} %>
                    <p>ActiveRecord Username => <%= Rails.configuration.database_configuration[Rails.env]["username"] || 'unknown' %></p>
                    <p>ActiveRecord Database => <%= Rails.configuration.database_configuration[Rails.env]["database"] || 'unknown' %></p>
                    <p>ActiveRecord  Adapter => <%= Rails.configuration.database_configuration[Rails.env]["adapter"] || 'unknown' %></p>
                    <p>ActiveRecord PoolSize => <%= Rails.configuration.database_configuration[Rails.env]["pool"] || 'unknown' %></p>
                    <p>isDeveloper => <%= Settings.Packaging.isDeveloper.to_s %></p>
                    <p>isDevelopment => <%= Settings.Packaging.isDevelopment.to_s %></p>
                    <p>isProduction => <%= Settings.Packaging.isProduction.to_s %></p>
                    <p>Development Version <%= Settings.Packaging.pomVersion.to_s %></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Rails Info
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <h2 id="about"><a href="#" class="btn btn-lg btn-primary" data-header="#about" data-url="rails/info/properties" data-place="#about-content">Click to Load.</a></h2>
                    <div id="about-content" class=""></div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Route Info
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <h2 id="route"><a href="#" class="btn btn-lg btn-primary" data-header="#route" data-url="rails/info/routes" data-place="#route-content">Click to Load.</a></h2>
                    <div id="route-content" class=""></div>
                </div>
            </div>
        </div>

        <% ar_resource_type = ar_data_type = 0 -%>
        <% Secure::AccessRegistry.get_ar_resource_keys.each do |ar| %>
            <% Secure::AccessRegistry.get_resource_type(ar) ? (ar_data_type += 1) : (ar_resource_type += 1) -%>
        <% end %>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                        AccessRegistry AccessXML
                        <span class="badge"><%= ar_resource_type %></span>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <h2 id="access">Summary Listing </h2>
                    <table class="table table-striped table-hover">
                        <thead>
                        <th>Index</th>
                        <th>URI</th>
                        <th>Description</th>
                        <th>UserData</th>
                        </thead>
                        <tbody>

                        <% Secure::AccessRegistry.get_ar_resource_keys.each_with_index do |ar,index| %>
                            <% next if Secure::AccessRegistry.get_resource_type(ar) %>
                            <tr>
                                <td><%= '%05d' % index %></td>
                                <td><%= ar.to_s %></td>
                                <td><%= Secure::AccessRegistry.get_resource_description(ar) %></td>
                                <td><%= Secure::AccessRegistry.get_resource_userdata(ar) %></td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                        AccessRegistry ContentXML
                        <span class="badge"><%= ar_data_type %></span>
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <h2 id="access">Summary Listing </h2>
                    <table class="table table-striped table-hover">
                        <thead>
                        <th>Index</th>
                        <th>URI</th>
                        <th>Description</th>
                        <th>UserData</th>
                        </thead>
                        <tbody>

                        <% Secure::AccessRegistry.get_ar_resource_keys.each_with_index do |ar,index| %>
                            <% next unless Secure::AccessRegistry.get_resource_type(ar) %>
                            <tr>
                                <td><%= '%05d' % index %></td>
                                <td><%= ar.to_s %></td>
                                <td><%= Secure::AccessRegistry.get_resource_description(ar) %></td>
                                <td><%= Secure::AccessRegistry.get_resource_userdata(ar) %></td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse"  href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Current User Info
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">

            <% if authenticated? %>
                    <% res = profile_builder.access_profile(current_user, true) %>
                    <% if res.present? and res.success %>
                    <h3>Access Profile</h3>
                        <div class="table-responsive">
                            <table id="access-profile" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <caption><h4><%= res.display_name if res.display_name? %> at <%= res.email if res.email? %></h4></caption>
                                <thead class="bg-primary">
                                    <th>Profile Type</th>
                                    <th>Description</th>
                                    <th>Provider</th>
                                    <th>PAK</th>
                                    <th>Username</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><%= res.profile_type %></td>
                                    <td><%= res.profile_type_description %></td>
                                    <td><%= res.provider %></td>
                                    <td><%= res.pak %></td>
                                    <td><%= res.username %></td>
                                </tr>
                                <tr>
                                    <table id="access-entries" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <caption>Content Profile Entries</caption>
                                        <thead class="bg-primary">
                                            <th>Entry Description</th>
                                            <th>Content</th>
                                            <th>Content Description</th>
                                            <th>Topic</th>
                                            <th>Topic Value</th>
                                            <th>Content Value</th>
                                        </thead>
                                        <tbody>
                                        <% res.entries.each do |row| %>
                                            <tr>
                                                <td><%= row.description %></td>
                                                <td><%= row.content_type %></td>
                                                <td><%= row.content_type_description %></td>
                                                <td><%= row.topic_type %></td>
                                                <td><%= row.topic_value.join(',') %></td>
                                                <td><%= row.content_value.map(&:to_hash) %></td>
                                            </tr>
                                        <% end %>
                                        </tbody>
                                    </table>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    <% else %>
                        <div class="alert alert-warning" role="alert"><%= res.message if res.message? %></div>
                    <% end %>

                    <% res = profile_builder.content_profile(current_user, true) %>
                    <% if res.present? and res.success %>
                        <h3>Content Profile</h3>
                        <div class="table-responsive">
                            <table id="content-profile" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <caption><h4><%= res.display_name %> at <%= res.email %></h4></caption>
                                <thead class="bg-primary">
                                    <th>Profile Type</th>
                                    <th>Description</th>
                                    <th>Provider</th>
                                    <th>PAK</th>
                                    <th>Username</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><%= res.profile_type %></td>
                                        <td><%= res.profile_type_description %></td>
                                        <td><%= res.provider %></td>
                                        <td><%= res.pak %></td>
                                        <td><%= res.username %></td>
                                    </tr>
                                    <tr>
                                        <table id="content-entries" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                            <caption>Content Profile Entries</caption>
                                            <thead class="bg-primary">
                                                <th>Entry Description</th>
                                                <th>Content</th>
                                                <th>Content Description</th>
                                                <th>Topic</th>
                                                <th>Topic Value</th>
                                                <th>Content Value</th>
                                            </thead>
                                            <tbody>
                                            <% res.entries.each do |row| %>
                                                <tr>
                                                    <td><%= row.description %></td>
                                                    <td><%= row.content_type %></td>
                                                    <td><%= row.content_type_description %></td>
                                                    <td><%= row.topic_type %></td>
                                                    <td><%= row.topic_value.join(',') %></td>
                                                    <td><%= row.content_value.join(',') %></td>
                                                </tr>
                                            <% end %>
                                            </tbody>
                                        </table>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <% else %>
                        <div class="alert alert-warning" role="alert"><%= res.message if res.message? %></div>
                    <% end %>

                <div class="well">
                    <h3>Assigned Groups</h3>
                    <ol>
                        <% current_user.assigned_groups.each do |item| -%>
                            <li><%= item %></li>
                        <% end -%>
                    </ol>
                </div>

                <div class="well">
                    <h3>Assigned Roles</h3>
                    <ol>
                        <% current_user.assigned_roles.each do |item| -%>
                            <li><%= item %></li>
                        <% end -%>
                    </ol>
                </div>

                <div class="well">
                    <h3>Rendered Access Roles</h3>
                    <ol>
                        <% current_user.combined_access_roles.try(:each) do |item| -%>
                            <li><%= item %></li>
                        <% end -%>
                    </ol>
                </div>

            <% else %>
                    <div class="alert alert-warning" role="alert">No Authorized User</div>
            <% end %>

            <div class="well">
                <h3>Current Session Values</h3>
                <ol>
                    <% session.keys.each do |k| -%>
                        <li> <%= k %>: <%= session[k] %> </li>
                    <% end -%>
                </ol>
            </div>

            <div class="well">
                <h3>Cookies on Current Request</h3>
                <ol>
                    <% cookies.each do |item| -%>
                        <li>cookie => <%= item[0] %>, Value => <%= item[1][1,16] %>... </li>
                    <% end -%>
                </ol>
            </div>
            </div>
        </div>
    </div>

    <% if authenticated? and current_user_has_access?('#Management') %>
        <div class="well">
            <%= link_to "Reload AccessRegistry",  details_sysinfo_pages_path(id: 'xml'), class: 'btn btn-danger btn-lg btn-block' %>
        </div>
    <% end %>

</article>
