<% provide(:title, accessed_page_name) %>

<script type="text/javascript">
    function getRailsInfo(placeHolder) {
        info =  document.getElementById(placeHolder);
        if (window.XMLHttpRequest)
        { xhr = new XMLHttpRequest(); }
        else
        { xhr = new ActiveXObject("Microsoft.XMLHTTP"); }
        xhr.open("GET", info.closest("a").attr('href'),false);
        xhr.send("");

        info.hide().innerHTML($.contents('body',xhr.responseText)).fadeIn();
        document.getElementById(placeHolder).style.display = 'block';
    }
</script>

<%# rails/info/routes #%>

<section class="container" id="page">
    <div id="content">
        <h1>SknService home#developer</h1>

        <div>
            <% if logged_in? %>
             <h3>Welcome <%= current_user.name %>.</h3>
            <% end %>
        </div>

        <div>
            <h3>Platform Configuration Values</h3>
            <p>Router Direct Page Accessed => <%= accessed_page() %></p>
            <p>AccessRegistry Access Page Name => <%= accessed_page_name() %></p>
            <p>Controller name => <%= controller_name %></p>
            <p>Controller Action => <%= action_name %></p>
            <p>Controller Path => <%= controller_path() %></p>
            <p>Request fullpath => <%= request.fullpath() %></p>
            <p>Request original fullpath => <%= request.original_fullpath() %></p>
            <p>Rails Environment => <%= Rails.env.to_s %></p>
            <%# <p>ActiveRecord Username => <%= ActiveRecord::Base.connection.raw_connection.config[:username] || ActiveRecord::Base.connection.raw_connection.config[:adapter] %>
            <p>isDeveloper => <%= Settings.Packaging.isDeveloper.to_s %></p>
            <p>isDevelopment => <%= Settings.Packaging.isDevelopment.to_s %></p>
            <p>isProduction => <%= Settings.Packaging.isProduction.to_s %></p>
            <p>Development Version <%= Settings.Packaging.pomVersion.to_s %></p>
        </div>
        <div id="about">
                <h3><a href="rails/info/properties" onclick="getRailsInfo('about-content'); return false;">click here for environment info.</a></h3>
                <div id="about-content" style="display: none"></div>
        </div>
        <div id="routes">
            <h3><a href="rails/info/routes" onclick="getRailsInfo('route-content'); return false;">click here for route info.</a></h3>
            <div id="route-content" style="display: none"></div>
        </div>
        <hr />
        <div style="margin-left: 17px;">
            <div>
                <% if authenticated? %>
                    <p>Has Access to this page '/' = <%= current_user_has_access?("/") ? "True": "False" %></p>
                    <hr />
                    <h3>Assigned Groups</h3>
                    <ol>
                        <% current_user.assigned_groups.each do |item| -%>
                            <li><%= item %></li>
                        <% end -%>
                    </ol>
                    <hr />
                    <h3>Assigned Roles</h3>
                    <ol>
                        <% current_user.assigned_roles.each do |item| -%>
                            <li><%= item %></li>
                        <% end -%>
                    </ol>
                    <hr />
                    <h3>Access Profile</h3>
                    <ol>
                        <% current_user.access_roles_all.try(:each) do |item| -%>
                            <li><%= item %></li>
                        <% end -%>
                    </ol>
                    <hr />
                    <h3>Content Profile</h3>
                    <ol>
                        <% current_user.content_profile.try(:attributes).each_pair do |item, value| -%>
                            <% if item.eql?(:entries) %>
                                <l1><h4><%= item%></h4>
                                    <% value.each do |ary| %>
                                      <ol>
                                        <% ary.each_pair do |k,v| %>
                                           <li><%= k %> => <%= v %></li>
                                        <% end %>
                                        <li>---</li>
                                      </ol>
                                    <% end %>
                                </l1>
                                <% else %>
                            <li><%= item %> => <%= value %></li>
                                <% end %>
                        <% end -%>
                    </ol>
                <% end %>
            </div>
            <hr />
            <div>
            <h3>Current Session Values</h3>
                <ol>
                    <% session.keys.each do |k| -%>
                        <li> <%= k %>: <%= session[k] %> </li>
                    <% end -%>
                </ol>
            </div>
            <hr />
            <div>
             <h3>Cookies on Current Request</h3>
                 <ol>
                    <% cookies.each do |item| -%>
                        <li>cookie => <%= item[0] %>, Value => <%= item[1][1,16] %>... </li>
                    <% end -%>
                </ol>
            </div>
        </div>
    </div>
</section>
