<p id="notice"><%= notice %></p>

<h1>Listing Profile Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_types.each do |profile_type| %>
      <tr>
        <td><%= profile_type.name %></td>
        <td><%= profile_type.description %></td>
        <td><%= link_to 'Show', profile_type %></td>
        <td><%= link_to 'Edit', edit_profile_type_path(profile_type) %></td>
        <td><%= link_to 'Destroy', profile_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile type', new_profile_type_path %>
