<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile_type.description %>
</p>

<%= link_to 'Edit', edit_profile_type_path(@profile_type) %> |
<%= link_to 'Back', profile_types_path %>
