<%# navigation styled for Bootstrap 3.0 %>
<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to home_path, class: "navbar-brand" do %>
        <%= logo("logo") %>
      <% end %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <%= nav_link("About", about_path) %>
        </ul>

        <% if valid_user_has_access?('#Administration') %>
            <ul class="nav navbar-nav">
                <% if valid_user_has_access?('users/index') %>
                    <%= nav_link_icon("glyphicon-user", "Manage UserProfiles", users_path) %>
                <% end %>
            </ul>
        <% end %>

        <% if valid_user_has_access?('#ContentProfileManagement') %>
            <ul class="nav navbar-nav">
                <% if valid_user_has_access?('content_profiles/index') %>
                    <%= nav_link_icon("glyphicon-inbox", "Manage ContentProfiles", content_profiles_path) %>
                <% end %>
            </ul>
        <% end %>

        <% if valid_user_has_access?('#GroupManagement') %>
            <ul class="nav navbar-nav">
                <% if valid_user_has_access?('user_group_roles/index') %>
                    <%= nav_link_icon("glyphicon-lock", "Manage GroupRoles", user_group_roles_path) %>
                <% end %>
            </ul>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
            <li><%=
                link_to_if(logged_in?, "Sign out", signout_path, method: :delete) do
                link_to "Sign in", signin_path
                end
            %></li>
        </ul>
        <% if logged_in? %>
            <p class="navbar-text pull-right">Signed in as
                <a href="<%= user_path(current_user) %>">
                <span><i class="glyphicon glyphicon-user"></i>&nbsp;<small><%= current_user.name %></small></span></a>
            </p>
        <% end %>
    </div>
  </div>
</header>
