<%# navigation styled for Bootstrap 3.0 %>
<nav class="row navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to home_pages_path, class: "navbar-brand" do %>
                <%= logo("LinuxSMP.png") %>
            <% end %>
        </div>

        <div id="main-nav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <%= nav_link("About", about_pages_path) %>
                <%= nav_link("Help", help_pages_path) %>
                <% if current_user_has_access?('#Management') %>
                    <li class="dropdown">
                        <a id="dLabel" class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Administration
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <% if current_user_has_access?('#UserProfileManagement') %>
                                <% if current_user_has_access?('users/index') %>
                                    <%= nav_link_icon("glyphicon-user", "Manage UserProfiles", users_path) %>
                                <% end %>
                            <% end %>

                            <% if current_user_has_access?('#AccessProfileManagement') %>
                                <% if current_user_has_access?('user_group_roles/index') %>
                                    <%= nav_link_icon("glyphicon-lock", "Manage AccessProfiles", user_group_roles_path) %>
                                <% end %>
                            <% end %>

                            <% if current_user_has_access?('#ContentProfileManagement') %>
                                <% if current_user_has_access?('profiles/manage_content_profiles') %>
                                    <%= nav_link_icon("glyphicon-cog", "Build Content Profiles", manage_content_profiles_profiles_path) %>
                                <% end %>
                            <% end %>

                            <%= nav_link_icon("glyphicon-cog", "System Information", details_sysinfo_pages_path) %>
                        </ul>
                    </li>
                    <% if current_user_has_access?('#Demonstration') %>
                        <% if current_user_has_access?('profiles/content_profile_demo') %>
                            <%= nav_link_icon("glyphicon-eye-open", "ContentProfile", content_profile_demo_profiles_path) %>
                        <% end %>
                    <% end %>
                  <% if current_user_has_access?('#RuntimeDemonstration') %>
                      <% if current_user_has_access?('profiles/runtime_demo') %>
                          <%= nav_link_icon("glyphicon-eye-open", "Runtime", runtime_demo_profiles_path) %>
                      <% end %>
                  <% end %>
                <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% if authenticated? %>
                        <a rel="nofollow" data-method="delete" href="<%= signout_path %>">
                            <span><i class="glyphicon glyphicon-log-out"></i>&nbsp;Sign out</span>
                        </a>
                    <% else %>
                        <a rel="nofollow" href="<%= signin_path %>">
                            <span><i class="glyphicon glyphicon-log-in"></i>&nbsp;Sign in</span>
                        </a>
                    <% end %>
                </li>
            </ul>
            <% if authenticated? %>
                    <p class="navbar-text navbar-right">Signed in as
                      <% if current_user_has_access?('users/show') %>
                        <a href="<%= user_path(id: current_user.id) %>">
                            <span><i class="glyphicon glyphicon-user"></i>&nbsp;<small><%= current_user.name %></small></span>
                        </a>
                      <% else %>
                          <span><i class="glyphicon glyphicon-user"></i>&nbsp;<small><%= current_user.name %></small></span>
                      <% end %>
                    </p>
            <% end %>
        </div><!--/.nav-collapse -->
    </div>
</nav>
