<%# navigation styled for Bootstrap 3.0 %>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to home_path, class: " navbar-brand" do %>
        <%= logo() %>
      <% end %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <% if valid_user_has_access?('#Administration') %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <% if valid_user_has_access?('users/new') %>
                            <li class="<%= menu_active?('users/new') %>">
                                <%= link_to new_user_path do %>
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span>&nbsp;Add user</span>
                                <% end %>
                            </li>
                        <% end %>

                        <% if valid_user_has_access?('users/index') %>
                            <li class="<%= menu_active?('users/index') %>">
                                <%= link_to users_path do %>
                                    <i class="glyphicon glyphicon-list"></i>
                                    <span>&nbsp;All users</span>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
        </ul>
        <ul class="nav navbar-nav">
            <li class="<%= menu_active?('pages/about') %>">
                <%= link_to "About",  about_path %>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <% if valid_user_has_access?('users/show') %>
                <li class="<%= menu_active?('users/show') %>">
                    <%= link_to "Profile", user_path(current_user) %>
                </li>
            <% end %>
            <li><%=
                link_to_if(logged_in?, "Sign out", signout_path, method: :delete) do
                link_to "Sign in", signin_path
                end
            %></li>
        </ul>
        <% if logged_in? %>
            <p class="navbar-text pull-right">Signed in as
                <a href="<%= user_path(current_user) %>">
                <span><i class="glyphicon glyphicon-user"></i>&nbsp;<%= current_user.name %></span></a>
            </p>
        <% end %>
    </div>
  </div>
