<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "Skoona Services" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Skoona Services" %>">
    <meta name="author" content="systems@skoona.net"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

    <link rel="shortcut icon" href="assets/favicon.ico"/>

  </head>

  <body data-controller-name="<%= controller_name %>" data-controller-action="<%= action_name %>">  <%# Identifies each page so JS can act when wanted %>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <%= render 'layouts/navigation' %>
      </nav>
    </header>

    <main role="main">
       <section class="col-md-8">
        <%= render 'layouts/messages' %>
       </section>

       <section class="col-md-10">
        <%= yield %>
       </section>

       <section class="col-md-9">
         <%= debug(params) if Rails.env.development? %>
       </section>
    </main>

  <!--
    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>
  -->
  </body>
</html>
