<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "Skoona Services" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Skoona Services" %>">
    <meta name="author" content="systems@skoona.net"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>

  </head>

  <body data-controller-name="<%= controller_name %>" data-controller-action="<%= action_name %>">  <%# Identifies each page so JS can act when wanted %>
    <%= render 'layouts/navigation' %>

    <main role="main">
       <%= render 'layouts/messages' %>

       <section>
         <%= yield %>
       </section>

       <section class="container">
         <%= debug(params) if Rails.env.development? %>
       </section>
    </main>

  <!--
      <%= render 'layouts/footer' %>
  -->
  </body>
</html>
