<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Skoona Services" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Skoona Services" %>">
    <meta name="author" content="systems@skoona.net"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/favicon.ico"/>
    <!--
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.png"/>
    -->
  </head>
  <body data-controller-name="<%= controller_name %>" data-controller-action="<%= action_name %>">  <%# Identifies each page so JS can act when wanted %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>

       <%= yield %>

       <%# Application Footer %>
       <%= render 'layouts/footer' %>
    </main>

    <%# Application Footer %>
    <div class="row col-md-offset-1 col-md-10">
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
